# Dependencies
node_modules/
.pnpm-store/

# Builds
dist/
.next/
out/
.turbo/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS / Editor
.DS_Store
.idea/
.vscode/

# Test coverage
coverage/

# Supabase local
supabase/.temp/

# TS build artifacts
*.tsbuildinfo
